* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  background-color: #fff;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 80px 1fr;
  grid-template-rows: auto;
  width: 100vw;
  margin: 32px 0px 32px 0px;
}

.social-icons {
  align-items: center;
  display: flex;
  border: 2px solid black;
  background-color: black;
  height: 128px;
}

.social-icons > a > img {
  display: block;
  max-height: 64px;
  max-width: 64px;
}

.social-icons > img {
  max-height: 64px;
  max-width: 64px;
}

.social-icon-1 {
  justify-content: right;
}

.social-icon-2 {
  justify-content: center;
}

.social-icon-3 {
  justify-content: left;
}
